
snippet rcc
	import React from 'react';

	export default class ${1} extends React.Component {
	
        render() {
            return (
                <div>
                </div>
            );
        }

    } 
